extends ../common/layouts/default
block head
    script(type='text/javascript').
        $(document).ready(function () {
        });
block content
    .col-md-12
        .form-group
            .row
                .col-xs-12.col-md-4
                    button#btn1.btn.btn-lg.btn-primary.btn-block 发送1
                .col-xs-12.col-md-4
                    button#btn2.btn.btn-lg.btn-primary.btn-block 发送2
                .col-xs-12.col-md-4
                    button#btn3.btn.btn-lg.btn-primary.btn-block 发送3
