<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">KD</span>Application &copy; 2013-2014
            </span>&nbsp; &nbsp;
        </div>
    </div>
</div>