<!-- #section:basics/sidebar -->
<script>
    $(function(){
        $(".nav.nav-list li a").on("click", function () {
            $(".nav.nav-list li.active").removeClass();
            if($(this).attr('href')!=='#'){
                $(this).parent().addClass('active');
            }
        });
    });
    function goto(url,nav){
        url='/menu'+url+'?nav='+encodeURIComponent(nav);
        $("#iframepage").attr("src",url);
    }
</script>
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>
    <ul class="nav nav-list">
        <li class="active">
            <a href="javascript:goto('/dashboard/dashboard','Dashboard')">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> UI 元素 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="javascript:goto('/ui/ui_1','UI 元素,UI_页_1')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        UI_页_1
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="javascript:goto('/ui/ui_2','UI 元素,UI_页_2')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        UI_页_2
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> Forms </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="javascript:goto('/forms/dFileUpload','Forms,Dropzone File Upload')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Dropzone File Upload
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>