<% layout('../partials/pages-layout') %>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <h1>Home</h1>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>

            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>
            测试内容；<br/>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->