<% layout('../../partials/pages-layout') %>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <h1>DASHBOARD</h1>
            <!-- PAGE CONTENT ENDS -->
        </div>
    </div>
</div><!-- /.page-content -->