footer
  .container
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} -
      li
        | Code licensed under &nbsp;
        a(href='#') XXX License

    ul.list-inline.pull-right
      li
        a(href="#") GitHub Project
      li
        a(href="#") Issues
      li
        a(href='#') Created by XXX
